<!DOCTYPE html>
<html>
<head>
	<title>contact page</title>
</head>
<body>
<h1>welcome to contact page</h1>
<h2>Contact page</h2>
<form action="" method="post">
	 First name:<br>
  <input type="text" name="firstname"><br>
  Last name: <br>
  <input type="text" name="lastname"><br><br>
   <input type="submit" value="Submit">

</form>
</body>
</html>